body {
    color: black;
    font-weight: normal;
    font-family: sans-serif;
    background-image: url(faq.jpg);
    background-size: cover;
}

details {
    border-radius: 10px;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    box-shadow: 4px 8px 8px #00000066;
    padding: 10px;
}

details summary {
    transition: margin 200ms;
    font-weight: bold;
}

details[open] summary {
    margin-bottom: 10px;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    text-align : center;
    color: #003265;
    font-weight: 700;
    font-size: 6vw;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    width: 1000px;
    height: 195px;
    border:2px solid;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.65);
    box-shadow: 4px 8px 8px #00000066;
    padding: 10px;
    margin-bottom: 100px;
}

.faq-section{
    margin-bottom: 60px;
}