.navbar {
    font-family: "Ubuntu", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 50, 101, 0.5);
    padding: 2vw;
    height: auto;
    width: 100%;
    position: relative;
    font-size: 6vw;
    font-weight: 700;
    color: #003265;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    flex-grow: 1;
    justify-content: space-around;
}

.navbar li {
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

#Navlogo img{
    width:4em;
    height:4em;
    margin-right: -5em;
    background-image: "../HeaderImages/logo-black.png";
    margin-top: -1.5em;
    margin-bottom: -1.5em;
    margin-left: -4.5em;
}